<%= simple_form_for([:admin, @hold]) do |f| %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :reference_id, input_html: { autofocus: true } %>
      </div>
    </div>

    <%= f.submit '', class: 'hide' %>
  </div>
<% end %>
