.p-t-sm { padding-top: 10px; }

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.content {
  color: white;
  height: 100%;

  .page-wrapper {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
}

.profile-box {
  .profile-box-header {
    text-align: center;

    h1 { margin-top: 0px; }
  }

  .profile-box-body {
    border-radius: 6px;
    background: white;
    color: $nav-bg;
    padding: 10px;

    h1, h2, h3, h4, h5 { margin: 0px; }
    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    a:focus, a:active, a:hover {
      text-decoration: underline;
    }
  }
}

.poll-box {
  width: 100%;
  height: 100%;
  text-align: center;

  button {
    width: 45%;
    height: 45%;
    margin: 5px;
    font-size: 6vw;
  }
}

.confirmation-box {
  width: 100%;
  height: 100%;
  text-align: center;

  button {
    width: 100%;
    height: 100%;
    font-size: 10vw;
  }
}

.session-progress {
  &.page-wrapper {
    .plenary-session-choose-box {
      padding: 30px;
    }
  }

  padding: 0 10px;
  font-size: 2vh;

  h1 { font-size: 4vh; }
  h2 { font-size: 3vh; }

  .font-lg {
    font-size: 7.5vw;
  }

  #header {
    margin-bottom: 10px;
  }

  .list {
    margin-top: 20px;

    .title {
      border-bottom: 1px solid white;
      padding-bottom: 5px;
    }
  }

  .results {
    table.votes-count {
      td { width: 33.333%; }
    }
  }

  #pie {
    .c3-tooltip td {
      color: #555;
    }

    .c3-legend-item {
      fill: white;
    }

    .c3-chart-arc.c3-target text {
      font-size: 2vh;
    }
  }

  .plenary-session-choose-box {
    border-radius: 6px;
    background: white;
    color: $nav-bg;
    padding: 10px;

    a:focus, a:active, a:hover {
      text-decoration: underline;
    }
  }

  .list {
    ol { padding: 0 3vh; }
  }
}
