.tabs-container {
  .panel-body {
    background: #fff;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    padding: 20px;
    position: relative;
  }
  .nav-tabs {
    border-bottom: 1px solid #e7eaec;

    li {
      float: left;
      margin-bottom: -1px;
      &.active {
        a, a:hover, a:focus {
          border: 1px solid #e7eaec;
          border-bottom-color: transparent;
          background-color: #fff;
        }
        a, a:hover, a:focus {
          border: 1px solid #e7eaec;
          border-bottom-color: transparent;
        }
      }
    }
  }

  .tab-pane {
    .panel-body {
      border-top: none;
    }
  }
}

@media (max-width: $screen-sm) {
  .tabs-container {
    .nav-tabs li a {
      padding: 10px;
    }
  }
}
