<%= simple_form_for([:admin, @party]) do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-8">
        <%= f.input :name, input_html: { autofocus: true } %>
      </div>

      <div class="col-sm-4">
        <%= f.input :abbreviation %>
      </div>
    </div>

    <%= f.submit '', class: 'hide' %>
  </div>
<% end %>
